@media (max-width: 480px) {
  .titleSm {
    display: block;
  }
  .titleLg {
    display: none
  }
  .woodDetails {
    margin-left: -6vw;
  }
  .about h2 {
    font-size: 1.8em
  }
  .woodSearch{
    position: fixed;
    bottom: 0;
  }
  .foundWoods, .topWoodList, .backWoodList {
    margin-left: -40px;
    margin-top: -40px;
  }
}
@media (min-width: 481px) {
  .titleSm {
    display: none
  }
  .titleLg {
    display: block
  }
  .woodDetails {
    margin-left: 15vw;
  }
  .about h2 {
    font-size: 2.2em
  }
  .woodSearch {
    position: relative;
    margin-top: 12vh;
  }
  .foundWoods, .topWoodList, .backWoodList {
    margin-left: 0px;
    margin-top: 0px;
  }
}

header {
  color: #F7F3E3;
  background: linear-gradient(45deg, rgba(1,22,56,0.7), rgba(1, 22, 56, 1));
  position: fixed;
  width: 100vw;
  display: block;
  height: 6em;
}

.about {
  margin-top: 0vh;
}

.showWoods, .searchResults {
  position: absolute;
  width: 75%;
  z-index: -1;
  top: 22vh;
  padding: 0vh 10vw 0vh 10vw;
  font-family: 'Open Sans', sans-serif;
  color: #2C2B31
}

.foundWoods, .tops, .backs {
  list-style: none;  
}

.woodName {
  width: 100%;
  padding: 5px 10px 5px 5px;
  margin: -15px 0px -15px 0px;
  border-radius: 3px;
  font-size: 1.2em;
}

.woodDetails {
  font-size: 0.8em;
  list-style: none;
  padding-top: 5px;
  margin-left: -20px;
}

strong {
  font-weight: 700;
}

@keyframes woodHover {
  from { background: grey}
  to { background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0))}
}

.woodName:hover {
  cursor: default;
  background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0));
  animation: woodHover 500ms;
}

.navButton {
  background-color: transparent;
  color: #F7F3E3;
  font-size: 0.9rem;
  border: none;
  border-radius: 1px;
}

.navButton:hover {
  background: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(0,0,0,0))
}

.navButton:focus {
  outline: none;
}

.titleLg, .titleSm {
  font-family: 'Prata', serif;
  padding-left: 25px;
  padding-top: 20px;
  margin-top: 0px;
}

.titleLg {
  font-size: 2em;
}

.titleSm {
  font-size: 3em;
}

.navigation {
  display: block;
  position: fixed;
  right: 0px;
  top: 4.5em;
}

.woodSearch {
  width: 100vw;
  line-height: 2.5em;
  padding-left: 20px;
  border-right: none;
  border-left: none;
  border-top: none;
  font-size: 20px;
  color: #fafafa;
  background-color: rgba(1, 22, 56, 0.8)
}

.woodSearch::placeholder {
  color: #F7F3E3;
  font-weight: 100;
  letter-spacing: 0.13em;
}