@media (max-width: 480px) {
  .titleSm {
    display: block;
  }
  .titleLg {
    display: none
  }
  .woodDetails {
    margin-left: -6vw;
  }
  .about h2 {
    font-size: 1.8em
  }
}
@media (min-width: 481px) {
  .titleSm {
    display: none
  }
  .titleLg {
    display: block
  }
  .woodDetails {
    margin-left: 15vw;
  }
  .about h2 {
    font-size: 2.2em
  }
}

header {
  color: #F7F3E3;
  background-color: #011638;
  position: fixed;
  width: 100vw;
  display: block;
  height: 12vh;
}

.about {
  margin-top: 0vh;
}

.showWoods, .searchResults {
  position: absolute;
  z-index: -1;
  top: 22vh;
  padding: 0vh 10vw 0vh 10vw;
  font-family: 'Open Sans', sans-serif;
  color: #2C2B31
}

.foundWoods, .tops, .backs {
  list-style: none;  
}

.woodName {
  padding: 5px 10px 5px 5px;
  margin: -15px 0px -15px 0px;
  border-radius: 3px;
  font-size: 1.2em;
}

.woodDetails {
  font-size: 0.8em;
  list-style: disc;
  padding-top: 5px;
}

@keyframes woodHover {
  from { background: grey}
  to { background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0))}
}

.woodName:hover {
  cursor: default;
  background: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0));
  animation: woodHover 500ms;
}

.navButton {
  background-color: rgba(1, 22, 56, 1);
  color: #F7F3E3;
  border: none;
  border-radius: 1px;
}

.navButton:hover {
  background: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(0,0,0,0))
}

.navButton:focus {
  outline: none;
}

.titleLg, .titleSm {
  font-family: 'Prata', serif;
  padding-left: 15px;
  padding-top: 15px;
  margin-top: 0px;
}

.titleLg {
  font-size: 2em;
}

.titleSm {
  font-size: 2.3em;
  padding-left: 10vw;
}

.navigation {
  display: block;
  position: fixed;
  right: 0;
  top: 8vh;
}

.woodSearch {
  width: 100vw;
  height: 8vh;
  padding-left: 20px;
  font-size: 20px;
}