.App {
  text-align: center;
}

.woodName:hover {
  cursor: default;
}

.navButton {
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 3px;
}

.navButton:hover {
  background-color: rgba(0,0,0,0.2);
}